 #nav-bar {
  background-color: #00a087 ;
  color: #e8fdff;
  z-index: 1000;
  position: fixed;
  padding: 0px 2em;
  width: 100%;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  padding-left: 10px;
  font-size: 200%;
  line-height: 80px;
}

#composeButton {
  border: solid black 1px;
  width: 115px;
  height: 59px;
  float: right;
  margin-top: 11px;
  border-radius: 5px;
  background-color: #e8fdff;
  color: #00a087;
  padding: 17.5px 4px;
  font-size: 1.3em;
}

#composeButton:hover {
  background-color: white;
  color: black;
}
