 #nav-bar {
  background-color: #00a087 ;
  color: #e8fdff;

  position: fixed;
  padding: 0px 2em;
  width: 100%;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  padding-left: 10px;
  font-size: 200%;
  line-height: 80px;
}

/*FIX THE BUTTON HERE AND IN THE HTML*/

#composeButton {
  border: solid black 1px;
  width: 150px;
  height: 30px;
  float: right;
  margin-top: 15px;
  border-radius: 5px;
}

#composeButton span {
  margin: auto;
  padding: 10px;

}
/*BUTTON END*/


.navButtons{
}
